.task1 {
  display: grid;
}

.task2 {
  display: inline-grid;
}

.task3 {
  display: grid;
  gap: 10px;
}

.task4 {
  display: grid;
}
.task4 .item2 {
  order: 2;
}
.task4 .item4 {
  order: 1;
}
.task4 .item3 {
  order: 3;
}

.task5 {
  display: grid;
  justify-content: start;
}

.task6 {
  display: grid;
  justify-content: end;
}

.task7 {
  display: grid;
  justify-content: center;
}

.task8 {
  display: grid;
  justify-content: space-between;
}

.task9 {
  display: grid;
  justify-content: space-around;
}

.task10 {
  display: grid;
  justify-content: space-evenly;
}

.task11 {
  display: grid;
  justify-content: stretch;
}

.task12 {
  display: grid;
  align-content: flex-start;
}

.task13 {
  display: grid;
  align-content: end;
}

.task14 {
  display: grid;
  align-content: center;
}

.task15 {
  display: grid;
  align-content: stretch;
}

.task16 {
  display: grid;
  align-content: space-between;
}

.task17 {
  display: grid;
  align-content: space-around;
}

.task18 {
  display: grid;
  align-content: space-evenly;
}

.task19 {
  display: grid;
  justify-content: start;
  align-content: center;
}

.task20 {
  display: grid;
  justify-items: start;
}

.task21 {
  display: grid;
  justify-items: end;
}

.task22 {
  display: grid;
  justify-items: center;
}

.task23 {
  display: grid;
  justify-items: stretch;
}

.task24 {
  display: grid;
  align-items: start;
}

.task25 {
  display: grid;
  align-items: end;
}

.task26 {
  display: grid;
  align-items: center;
}

.task27 {
  display: grid;
align-items: stretch;
}

.task28 {
  display: grid;
  align-items: baseline;
}

.task29 {
  display: grid;
  justify-items: center;
  align-items: stretch;
}

.task30 {
  display: grid;
}
.task30 .item1 {
  justify-self: start;
}

.task31 {
  display: grid;
}
.task31 .item2 {
  justify-self: end;
}

.task32 {
  display: grid;
}
.task32 .item3 {
  justify-self: center;
}

.task33 {
  display: grid;
}
.task33 .item4 {
  justify-self: stretch;
}

.task34 {
  display: grid;
}
.task34 .item1 {
  align-self: start;
}

.task35 {
  display: grid;
}
.task35 .item2 {
  align-self: end;
}

.task36 {
  display: grid;
}
.task36 .item3 {
  align-self: center;
}

.task37 {
  display: grid;
}
.task37 .item4 {
  align-self: stretch;
}

.task38 {
  display: grid;
}
.task38 .item5 {
  justify-self: start;
  align-self: center;
}

.task39 {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
}

.task40 {
  display: grid;
  grid-template-columns: repeat(2, fit-content(70%));
}

.task41 {
  display: grid;
  grid-template-rows: repeat(3, minmax(110px, 30%));
  grid-template-columns: repeat(2, 1fr);
}

.task42 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.task42 .item1 {
  grid-row: 1 / 3;
}
.task42 .item2 {
  grid-column: 2 / 4;
}
.task42 .item3 {
  grid-column: 2 / 4
}
.task42 .item4 {
  grid-row: 3 / 5;
}
.task42 .item5 {
  grid-column: 2 / 4
}
.task42 .item6 {
  grid-column: 2 / 4
  
}

.task43 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.task43 .item3 {
  grid-column: 1 / 3;
}

.task44 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.task44 .item3 {
  grid-row: 1 / 3;
}

.task45 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.task45 .item3 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.task46 {
  display: grid;
  grid-auto-columns: min-content max-content;
}

.task47 {
  display: grid;
  grid-auto-rows: min-content;
}

.task48 {
  display: grid;
  grid-auto-flow: row;
}

.task49 {
  display: grid;
  grid-auto-flow: column;
}

.task50 {
  display: grid;
  grid-auto-flow: dense;
}

.task51 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.task52 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
